<link rel="stylesheet" href="/frontend/instruction_detail.css">
<div id="instruction-detail-page-container" class="page-wrapper background-1">
    <div class="main-container">
        <div class="instruction-detail-item">
            <div class="instruction-detail-item-image">
                <img src="/images/lg_instruction1.png">
            </div>
            <div class="instruction-detail-item-info-container">
                <div class="instruction-detail-item-info-title">
                    Download The App From The Official LG Apps
                </div>
                <div class="instruction-detail-item-info-desc">
                    If you can not find the app because of your region, you can try to sign up in any other
                    country's Smaret TV Service and download the app from there. After installing the app,
                    you may also change back to your original region as it will stay on your television
                </div>
            </div>
        </div>
        <div class="instruction-detail-item">
            <div class="instruction-detail-item-image">
                <img src="/images/lg_instruction1.png">
            </div>
            <div class="instruction-detail-item-info-container">
                <div class="instruction-detail-item-info-title">
                    Download The App From The Official LG Apps
                </div>
                <div class="instruction-detail-item-info-desc">
                    If you can not find the app because of your region, you can try to sign up in any other
                    country's Smaret TV Service and download the app from there. After installing the app,
                    you may also change back to your original region as it will stay on your television
                </div>
            </div>
        </div>
        <div class="instruction-detail-item">
            <div class="instruction-detail-item-image">
                <img src="/images/lg_instruction1.png">
            </div>
            <div class="instruction-detail-item-info-container">
                <div class="instruction-detail-item-info-title">
                    Download The App From The Official LG Apps
                </div>
                <div class="instruction-detail-item-info-desc">
                    If you can not find the app because of your region, you can try to sign up in any other
                    country's Smaret TV Service and download the app from there. After installing the app,
                    you may also change back to your original region as it will stay on your television
                </div>
            </div>
        </div>
    </div>
</div>
