<head>
    <%
        let title1=typeof title!='undefined' ? title : 'Flix IPTV';
        let keyword1=typeof keyword!='undefined' ? keyword : '' ;
        let description1=typeof description!='undefined' ? description : '' ;
    %>
    <title><%= title1 %></title>
    <meta charset="utf-8">
    <meta name="keywords" content="<%= keyword1 %>">
    <meta name="description" content="<%= description1 %>">
    <link rel="icon" href="/images/logo.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="/admin/template/css/bootstrap.min.css">
    <link rel="stylesheet" href="/admin/template/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="/admin/template/fonts/font-awesome/font-awesome.css">

    <script src="/admin/template/vendor/jquery/jquery.js"></script>
    <script src="/admin/template/vendor/popper-js/umd/popper.min.js"></script>
    <script src="/admin/template/vendor/bootstrap/bootstrap.js"></script>

    <link rel="stylesheet" href="/frontend/style.css">

</head>
