<link rel="stylesheet" href="{{asset('/admin/template/vendor/summernote/summernote.css')}}">
<style>
    .price-item-container{
        padding-right:100px;
        margin-left: 0 !important;
        margin-right:0 !important;
    }
    .price-delete-icon{
        right:10px;
        color: #c00c06;
        top: 40px;
        cursor:pointer;
    }
    .price-add-icon{
        top: 10px;
        right: 10px;
        color: #2eaf0e;
        font-size: 35px;
        /* box-shadow: 0 0 5px #0e860e; */
        border-radius: 40px;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        cursor:pointer;
    }
    .price-add-icon:hover{
        color: #31e00e
    }

    .prices-container{
        background: #eee;
        box-shadow: 0 0 5px #333;
        padding:20px;
        border-radius: 10px;
        font-size:20px;
        padding-top:40px;
    }
    .sort-btns-container{
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        background: #dbd4d4;
        padding: 0 15px;
        font-size: 25px;
        line-height: 1.2;
    }
    .sort-btn {
        cursor: pointer;
        color: #000;
        transition: all 0.2s;
    }
    .sort-btn:hover{
        color: #14cfed;
    }
</style>
<div class="page-content">
    <div class="panel panel-boxed">
        <div class="panel-body">
            <form method="post" action="/admin/saveCoinList">
                <div class="form-group prices-container position-relative" id="vue">
                    <i class="fa fa-plus-circle price-add-icon position-absolute" @click="addItem()"></i>
                    <div v-for="(item, index) in item_list" class="row price-item-container position-relative">
                        <i class="fa fa-trash position-absolute price-delete-icon" @click="deleteItem(index)" v-if="item_list.length>1"></i>
                        <div class="sort-btns-container">
                            <div class="sort-btn">
                                <i class="fas fa-caret-up"
                                   @click="changeOrder(index,-1)"
                                ></i>
                            </div>
                            <div class="sort-btn">
                                <i class="fas fa-caret-down"
                                   @click="changeOrder(index,1)"
                                ></i>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label>Code</label>
                            <input type="text" class="form-control" name="codes[]" required v-model="item.code">
                        </div>
                        <div class="form-group col-6">
                            <label>Name</label>
                            <input type="text" class="form-control" name="names[]" required v-model="item.name">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    let app=new Vue({
        el:"#vue",
        data:{
            item_list:[]
        },
        mounted(){
            let item_list=JSON.parse(`<%- JSON.stringify(coin_list) %>`);
            if(item_list.length==0){
                item_list.push({
                    code:"",
                    name:""
                })
            }
            this.item_list=item_list;
        },
        methods:{
            addItem(){
                this.item_list.push({
                    code:"",
                    name:""
                })
            },
            deleteItem(index){
                this.item_list.splice(index,1);
            },
            changeOrder(index,direction){
                var item_list=this.item_list;
                if(index==0 && direction<0)
                    return;
                if(index==item_list.length-1 && direction>0)
                    return;
                var first_index=direction > 0 ? index : index+direction;
                let next_index=direction>0 ? index+direction : index;
                let first_element=first_index < next_index ? item_list[first_index] : item_list[next_index];
                let next_element=first_index < next_index ? item_list[next_index] : item_list[first_index];
                let temps1=first_index>0 ? item_list.slice(0,first_index) : [];
                let temps2=item_list.slice(next_index+1);
                var sorted_list=[next_element, first_element];
                let updated_list=temps1.concat(sorted_list);
                updated_list=updated_list.concat(temps2);
                this.item_list=updated_list;
            }
        }
    });
</script>


