<div class="page-content">
    <div class="panel panel-boxed">
        <div class="panel-body">
            <form method="post" action="/admin/saveDemoUrl">
                <div class="form-group">
                    <label>Demo URL</label>
                    <input type="text" name="demo_url" value="<%= demo_url %>" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
