<div class="page-content">
    <div class="panel panel-boxed">
        <div class="panel-body">
            <h3 class="panel-header">Mollie Key Setting</h3>
            <form method="post" action="/admin/saveMollieSetting">
                <div class="form-group">
                    <label>Api Key</label>
                    <input type="text" name="api_key" value="<%=mollie_api_key%>" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


