<div class="page-content">
    <div class="panel panel-boxed">
        <div class="panel-body">
            <form method="post" action="/admin/saveSupportEmailSetting">
                <div class="form-group">
                    <label>Support Email</label>
                    <input type="text" name="support_email" value="<%=support_email%>" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
