<div class="page-content">
    <div class="panel panel-boxed">
        <div class="panel-body">
            <form method="post" action="/admin/saveValidAgentKeys">
                <div class="form-group">
                    <label>Valid User Agent Keys(Separate By Line Break for User Agent Keys)</label>
                    <textarea name="user_agent_keys" class="form-control" rows="8"><%=user_agent_keys%></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
