<div class="page-content">
    <div class="panel panel-boxed">
        <div class="panel-body">
            <form method="post" action="/admin/saveYoutubeApiKey">
                <div class="form-group">
                    <label>Youtube Api Key</label>
                    <input type="text" name="youtube_api_key" value="<%=youtube_api_key%>" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
